/* face2 */
/* .container-circle .circle-face2 {
  display: block;
} */

.circle-face2 .circle-inner {
  width: 100%;
  height: 100%;
}

.circle-face2 .circle-inner img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.circle-face2 .circle-inner > div h3 {
  color: #fff;
  margin-bottom: 20px;
}

.circle-face2 .circle-inner > div p {
  font: 18px/1.3 "arial";
  color: #ccc;
}
