/* face5 */
/* .container-circle .circle-face5 {
  display: block;
} */

.circle-face5 .circle-inner-box {
  width: 100%;
  height: 100%;
}

.circle-face5 .circle-inner-box img {
  margin-bottom: 40px;
}

.circle-face5 .circle-inner-box .section {
  display: block;
  width: 70%;
  margin: 0px auto;
}

.circle-face5 .circle-inner-box .inner-pic {
  width: 100%;
  height: 250px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3) url(../../img/bird.jpg) no-repeat center
    center/cover;
  margin-bottom: 50px;
}

.circle-face5 .circle-inner-box .reflection {
  position: absolute;
  top: -50%;
  left: -100%;
  transition: all 1s;
}

.circle-face5:hover .circle-inner-box .reflection {
  top: 70%;
  left: 60%;
}
